In [1]:
import pandas as pd
import numpy as np

In [5]:
sub = pd.read_csv("/home/gunjan/Desktop/amazon/datasetb2d9982/dataset/sample_submission.csv")

In [6]:
sub.head()

   PRODUCT_ID  PRODUCT_LENGTH
0      604373      701.093794
1     1729783      734.506163
2     1871949      741.360258
3     1107571      730.327767
4      624253      666.847946

In [7]:
# add random values to the PRODUCT_LENGTH column
sub['PRODUCT_LENGTH'] = sub['PRODUCT_LENGTH'] + np.random.randint(1, 100, sub.shape[0])
sub.head()

   PRODUCT_ID  PRODUCT_LENGTH
0      604373      728.093794
1     1729783      798.506163
2     1871949      833.360258
3     1107571      793.327767
4      624253      747.847946

In [8]:
sub.to_csv("submission.csv", index=False)